nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, .25);
    padding: 8px 0;
}

::deep .nav-link {
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 80px;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    color: var(--accent-color);
    text-decoration: none;
}

::deep .nav-link.active {
    border-bottom: solid 2px var(--accent-color);
}