<nav>
    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
        <svg width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
                d="M32.6145 18.4965L19.1145 3.49648C18.546 2.86348 17.454 2.86348 16.8855 3.49648L3.38549 18.4965C3.19151 18.7121 3.06419 18.9793 3.01893 19.2657C2.97367 19.5522 3.01242 19.8456 3.13049 20.1105C3.37049 20.652 3.90749 21 4.49999 21H7.49999V31.5C7.49999 31.8978 7.65803 32.2793 7.93933 32.5606C8.22063 32.8419 8.60217 33 8.99999 33H13.5C13.8978 33 14.2793 32.8419 14.5606 32.5606C14.842 32.2793 15 31.8978 15 31.5V25.5H21V31.5C21 31.8978 21.158 32.2793 21.4393 32.5606C21.7206 32.8419 22.1022 33 22.5 33H27C27.3978 33 27.7793 32.8419 28.0607 32.5606C28.342 32.2793 28.5 31.8978 28.5 31.5V21H31.5C31.7905 21.0012 32.0751 20.9179 32.319 20.7602C32.563 20.6025 32.7558 20.3772 32.874 20.1118C32.9921 19.8464 33.0305 19.5524 32.9844 19.2656C32.9383 18.9787 32.8098 18.7115 32.6145 18.4965Z"
                fill="#599071" />
        </svg>
        <span>ホーム</span>
    </NavLink>
    <NavLink class="nav-link" href="study" Match="NavLinkMatch.Prefix">
        <svg width="37" height="36" viewBox="0 0 37 36" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
                d="M30.3334 6H6.33337C4.67887 6 3.33337 7.3455 3.33337 9V27C3.33337 28.6545 4.67887 30 6.33337 30H30.3334C31.9879 30 33.3334 28.6545 33.3334 27V9C33.3334 7.3455 31.9879 6 30.3334 6ZM7.83337 12.75C7.83337 12.5511 7.91239 12.3603 8.05304 12.2197C8.1937 12.079 8.38446 12 8.58337 12H13.0834C13.2823 12 13.4731 12.079 13.6137 12.2197C13.7544 12.3603 13.8334 12.5511 13.8334 12.75V15.75C13.8334 15.9489 13.7544 16.1397 13.6137 16.2803C13.4731 16.421 13.2823 16.5 13.0834 16.5H8.58337C8.38446 16.5 8.1937 16.421 8.05304 16.2803C7.91239 16.1397 7.83337 15.9489 7.83337 15.75V12.75ZM16.8334 24H7.83337V21H16.8334V24ZM28.8334 24H19.8334V21H28.8334V24Z"
                fill="#599071" />
        </svg>
        <span>勉強</span>
    </NavLink>
    <NavLink class="nav-link" href="progress" Match="NavLinkMatch.Prefix">
        <svg width="37" height="36" viewBox="0 0 37 36" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
                d="M9.66663 31.5H5.16663C4.7688 31.5 4.38727 31.342 4.10597 31.0607C3.82466 30.7794 3.66663 30.3978 3.66663 30V18C3.66663 17.6022 3.82466 17.2206 4.10597 16.9393C4.38727 16.658 4.7688 16.5 5.16663 16.5H9.66663C10.0645 16.5 10.446 16.658 10.7273 16.9393C11.0086 17.2206 11.1666 17.6022 11.1666 18V30C11.1666 30.3978 11.0086 30.7794 10.7273 31.0607C10.446 31.342 10.0645 31.5 9.66663 31.5ZM20.1666 31.5H15.6666C15.2688 31.5 14.8873 31.342 14.606 31.0607C14.3247 30.7794 14.1666 30.3978 14.1666 30V4.5C14.1666 4.10218 14.3247 3.72064 14.606 3.43934C14.8873 3.15804 15.2688 3 15.6666 3H20.1666C20.5645 3 20.946 3.15804 21.2273 3.43934C21.5086 3.72064 21.6666 4.10218 21.6666 4.5V30C21.6666 30.3978 21.5086 30.7794 21.2273 31.0607C20.946 31.342 20.5645 31.5 20.1666 31.5ZM30.6666 31.5H26.1666C25.7688 31.5 25.3873 31.342 25.106 31.0607C24.8247 30.7794 24.6666 30.3978 24.6666 30V13.5C24.6666 13.1022 24.8247 12.7206 25.106 12.4393C25.3873 12.158 25.7688 12 26.1666 12H30.6666C31.0645 12 31.446 12.158 31.7273 12.4393C32.0086 12.7206 32.1666 13.1022 32.1666 13.5V30C32.1666 30.3978 32.0086 30.7794 31.7273 31.0607C31.446 31.342 31.0645 31.5 30.6666 31.5Z"
                fill="#599071" />
        </svg>
        <span>進捗</span>
    </NavLink>
    <NavLink class="nav-link" href="settings" Match="NavLinkMatch.Prefix">
        <svg width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
                d="M3.51594 22.9065L6.51594 28.0965C6.71511 28.4408 7.04285 28.6918 7.42709 28.7945C7.81132 28.8972 8.22061 28.843 8.56494 28.644L10.6589 27.435C11.5289 28.1205 12.4904 28.683 13.5014 29.103V31.5C13.5014 31.8978 13.6595 32.2794 13.9408 32.5607C14.2221 32.842 14.6036 33 15.0014 33H21.0014C21.3993 33 21.7808 32.842 22.0621 32.5607C22.3434 32.2794 22.5014 31.8978 22.5014 31.5V29.103C23.5212 28.6804 24.4777 28.1191 25.3439 27.435L27.4379 28.644C28.1534 29.0565 29.0744 28.809 29.4869 28.0965L32.4869 22.9065C32.6844 22.5618 32.7376 22.1531 32.635 21.7693C32.5325 21.3855 32.2825 21.0578 31.9394 20.8575L29.8814 19.668C30.0419 18.5617 30.0409 17.438 29.8784 16.332L31.9364 15.1425C32.6504 14.73 32.8979 13.8075 32.4839 13.0935L29.4839 7.9035C29.2848 7.55925 28.957 7.30818 28.5728 7.20551C28.1886 7.10284 27.7793 7.15697 27.4349 7.356L25.3409 8.565C24.4751 7.88103 23.5191 7.31974 22.4999 6.897V4.5C22.4999 4.10218 22.3419 3.72064 22.0606 3.43934C21.7793 3.15804 21.3978 3 20.9999 3H14.9999C14.6021 3 14.2206 3.15804 13.9393 3.43934C13.658 3.72064 13.4999 4.10218 13.4999 4.5V6.897C12.4802 7.31962 11.5237 7.88091 10.6574 8.565L8.56494 7.356C8.22061 7.15697 7.81132 7.10284 7.42709 7.20551C7.04285 7.30818 6.71511 7.55925 6.51594 7.9035L3.51594 13.0935C3.31853 13.4382 3.26529 13.8469 3.36784 14.2307C3.47038 14.6145 3.7204 14.9422 4.06344 15.1425L6.12144 16.332C5.96001 17.4381 5.96001 18.5619 6.12144 19.668L4.06344 20.8575C3.34944 21.27 3.10194 22.1925 3.51594 22.9065ZM17.9999 12C21.3089 12 23.9999 14.691 23.9999 18C23.9999 21.309 21.3089 24 17.9999 24C14.6909 24 11.9999 21.309 11.9999 18C11.9999 14.691 14.6909 12 17.9999 12Z"
                fill="#599071" />
        </svg>
        <span>設定</span>
    </NavLink>
</nav>