<div class="contents-wrapper">
    <div class="progress-wrapper">
        <div class="progress" style="width: @width%;"></div>
        <span class="progress-value">@width%</span>
    </div>
</div>
@code {
    [Parameter]
    public int? Total { get; set; }
    [Parameter]
    public int? Current { get; set; }

    private double width { get; set; }

    protected override void OnParametersSet()
    {
        width = Progress.CalculateValue(Current, Total);
        StateHasChanged();
    }
}