* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --background-gradient: linear-gradient(180deg, rgba(112, 175, 147, 1) 40%, rgba(211, 224, 185, 1) 100%);
    --accent-color: #599071;
    --accent-font-color: #F5F7EA;
    --primary-color: #F7FAEF;
    --primary-font-color: #21302B;
}

html,
body,
#app {
    height: 100%;
    overflow: hidden;
}

body {
    background: var(--background-gradient);
    padding-bottom: env(safe-area-inset-bottom);
}

.title {
    color: #F6F9EE;
    font-size: 24px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.zen-maru-gothic-regular {
    font-family: "Zen Maru Gothic", serif;
    font-weight: 400;
    font-style: normal;
}

.zen-maru-gothic-bold {
    font-family: "Zen Maru Gothic", serif;
    font-weight: 700;
    font-style: normal;
}

.montserrat-400 {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.splash {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex-direction: column;
}

.btn-icon {
    cursor: pointer;
    padding: 4px;
    border: none;
    outline: none;
    background-color: transparent;
    border-radius: 50%;
}