.wrapper {
    display: grid;
    height: 100%;
    grid-template-columns: minmax(0, 1fr);
    grid-template-rows: 56px minmax(0, 1fr) 64px;
    grid-gap: 4px;
    max-width: 980px;
    margin: auto;
}

header {
    text-align: center;
}

main {
    padding: 0 4px;
    overflow: auto;
}