.wrapper {
    display: grid;
    height: 100%;
    grid-template-columns: minmax(0, 1fr);
    grid-template-rows: 56px minmax(0, 1fr) auto;
    max-width: 480px;
    margin: auto;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    padding: 0 4px;
    overflow: hidden;
}