@inherits LayoutComponentBase
<div class="wrapper">
    <header>
        <div class="title">Larky</div>
    </header>
    <main>
        @Body
    </main>
    <footer>
        <BottomNavView />
    </footer>
</div>
